<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

    <title>Login</title>
</head>
<body>

    <script src="/javascripts/resourses/build.js"></script>
    <script src="/javascripts/login/conf-login.js"></script>
    
    <script>
         $$('err',Number('<%= num %>'));
    </script>

    <div id="login">
        <p id='login-error'> <%= msg %> </p>
        <form method="POST" id="login-form" action="/chat" ><!-- onsubmit="event.preventDefault();$$('user loggin')(event)" -->
            <input
            id="login-name"
            name="user name"
            type="text"
            placeholder="Insira seu nome"
            required>
    
            <button
            class="ok1"
            type="submit"
            ><p>loggar</p></button>
            
        </form>
    </div>
</body>
</html>